<nav>
    <ul>
        <li><a href="/">Home</a></li>
        {{#if user}}
        <li><a href="/finance/dashboard">Dashboard</a></li>
        <li><a href="/users/logout">Logout</a></li>
        {{else}}
        <li><a href="/users/login">Login</a></li>
        <li><a href="/users/register">Register</a></li>
        {{/if}}
    </ul>
</nav>