<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/personal-finance-tracker/public/css/styles.css">
    <title>{{title}}</title>
</head>
<body>
    {{>header}} <!-- Include the header partial -->
    <div class="container">
        {{{body}}} <!-- Render the main content -->
    </div>
    <script src="/personal-finance-tracker/public/js/scripts.js"></script>
</body>
</html>